body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: "Lora", serif;
  
}
body > .resume{
  padding: 20px 0px;
  background: none;
  
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
  top:0%;
}

ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
.workDes > *,
.projectDes > * {
  font-size: 76%;
  padding: 0px 0px 5px 3px;
}
a {
  color: inherit;
  text-decoration: underline rgba(84, 84, 84, 0.8) 0.5px;
}

.resume {
  position: absolute;
  top:0%;
  left:50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  width: 100%;
  max-width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
@media screen and (max-width: 780px) {
  .resume > *{
    transform: scale(0.9);
    transform-box: content-box;
  }
}

.top {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
}
.name {
  font-size: 250%;
}
.nameUnderscore {
  width: 350px;
  height: 1px;
  margin: 5px 0px;
  background-color: #5f5e5e;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.about {
  font-size: 100%;
  padding-top: 7px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  align-items: flex-end;
  padding-right: 50px;
  justify-content: center;
  font-size: 120%;
}
.phbox,
.mailbox,
.homebox {
  display: flex;
  align-items: center;
}
.phNo,
.mail,
.home {
  padding: 10px 0px;
}

.HorLine {
  width: 100%;
  height: 2.0mm;
  background-color: #545454;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.bottom {
  width: 100%;
  height: 913px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}
.summaryline {
  width: 350px;
  height: 1px;
  background-color: #5f5e5e;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin: 3px 0px 10px 0px;
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summarytitle {
  font-size: 150%;
  letter-spacing: 2px;
}
.summaryContent {
  padding: 0px 35px;
  font-size: 85%;
  text-align: center;
}
.bottomContent {
  display: flex;
  padding: 20px 30px 0px 50px;
}
.bottomleft {
  display: flex;
  width: 41%;
  flex-direction: column;
}
.bottomleft > * {
  margin-bottom: 5px;
}

.education {
  margin-bottom: 5px;
}
.eduTitle,
.expertiseTitle,
.LangTitle,
.InterestTitle,
.stnTitle,
.linkTitle,
.workTitle,
.projectTitle,
.CertificateTitle,
.awardTitle {
  font-size: 130%;
  letter-spacing: 2px;
}
.eduUnderline,
.expertiseUl,
.LangUl,
.IntUl,
.stnUl,
.linkUl,
.workUl,
.projectUl,
.CertificateUl,
.awardUl {
  width: 200px;
  height: 0.5px;
  background-color: #5f5e5e;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin: 5px 0px 12px 0px;
}
.workUl,
.projectUl,
.CertificateUl,
.awardUl {
  width: 300px;
}
.mepcoTitle,
.gptTitle,
.sclTitle,
.workName,
.projectName,
.CertificateName,
.awardName {
  font-size: 80%;
  font-weight: bold;
  opacity: 90%;
  letter-spacing: 0.5px;
  padding-bottom: 4px;
}
.mepcoContent,
.gptContent,
.sclContent {
  letter-spacing: 0.2px;
  font-size: 70%;
  padding-bottom: 5px;
  line-height: 18px;
}
.companyName,
.projectYear,
.CertificateYear,
.awardYear {
  letter-spacing: 0.3px;
  font-size: 70%;
  padding: 0px 0px 4px 5px;
  line-height: 17px;
}
.expertiseContent,
.LangContent,
.IntContent,
.stnContent,
.linkContent a {
  letter-spacing: 0.3px;
  font-size: 81%;
  font-weight: bold;
  opacity: 75%;
  padding-bottom: 10px;
}
.verticalLine {
  display: flex;
  justify-content: center;
  height: 700px;
  width: 1px;
  margin: 20px 10px 10px 10px;
  background-color: #545454;
}

.bottomright {
  display: flex;
  width: 59%;
  flex-direction: column;
}
.work,
.project,
.certificates {
  margin-bottom: 5px;
}

.githublink,
.linkedinlink{
display: inline-flex;
}
.print-url {
  display: none;
}

@media print{
  #printToggle,#edit-options,#edit-btn{
    display: none;
  }
  body > .resume{
    padding: 0;
  }

  body:not(.no-print-mode) a {
    display: none; 
  }

  body:not(.no-print-mode) .print-url{
  display: inline-flex;
  padding-bottom: 3px;
  text-decoration: none;
  letter-spacing: 0.2px;
  font-size: 81%;
  font-weight: bold;
  opacity: 75%;
  margin: 0px;
  }
  
body:not(.no-print-mode) .expertiseContent,
body:not(.no-print-mode) .LangContent,
body:not(.no-print-mode) .IntContent,
body:not(.no-print-mode) .stnContent,
body:not(.no-print-mode) .linkContent a {
  padding-bottom: 5px;
}

#printToggle {
  display: none;
}
}

#edit-btn {
  position: fixed;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 34px;
  color: #f0f0f0; 
  background: rgba(0, 0, 0, 0.5); 
  border: none; 
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  margin-left: 10px;
  user-select: none;
}

#edit-btn:before {
  background-color: #ff00ffc7;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 0.25rem;
  width: 42px;
  margin-top: 10px;
  margin-bottom: 0.8rem; 
}
#edit-options{
  display: none;
  position: fixed;
  margin-top: 80px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  margin: 0;
  user-select: none;
}
.btn-container {
  position: relative;
  width: 150px;
  margin-bottom: 2px;
}
.btn {
  position: relative;
  width: 150px;
  height: 40px;
  background-color: #222222;
  color: white;
  line-height: 40px;
  padding-left: 20px;
  transition: width 0.3s cubic-bezier(1, .01, .26, 1.9), background-color 0.3s cubic-bezier(1, .01, .26, 1.9);
  z-index: 9;
}
.btn-container .btn:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  left: 0;
}
.btn label{
  display:inline-flex;
  width: 150px;
  align-items: stretch;
}
.btn:hover label{
  width: 150px;
}

.btn-container:first-child .btn:before,.btn-container:first-child .sub-button:after,
.btn-container:first-child:hover > .btn + .sub-button-container > ul .sub-button:hover,
.btn-container:first-child:hover > .btn {
  background-color: #BE4C39;
}

.btn-container:nth-child(2) .btn:before,.btn-container:nth-child(2) .sub-button:after,
.btn-container:nth-child(2):hover > .btn + .sub-button-container > ul .sub-button:hover,
.btn-container:nth-child(2):hover > .btn {
  background-color: #9351A6;
}

.btn-container:nth-child(3) .btn:before,.btn-container:nth-child(3) .sub-button:after,
.btn-container:nth-child(3):hover > .btn + .sub-button-container > ul .sub-button:hover,
.btn-container:nth-child(3):hover > .btn {
  background-color: #E18728;
}
.btn-container:nth-child(4) .btn:before,.btn-container:nth-child(4) .sub-button:after,
.btn-container:nth-child(4):hover > .btn + .sub-button-container > ul .sub-button:hover,
.btn-container:nth-child(4):hover > .btn {
  background-color: #1e90ff;
}

.btn-container:nth-child(5) .btn:before,.btn-container:nth-child(5) .sub-button:after,
.btn-container:nth-child(5):hover > .btn + .sub-button-container > ul .sub-button:hover,
.btn-container:nth-child(5):hover > .btn {
  background-color: #6a5acd;
}
.btn-container:last-child .btn:before,.btn-container:last-child .sub-button:after,
.btn-container:last-child:hover > .btn + .sub-button-container > ul .sub-button:hover,
.btn-container:last-child:hover > .btn {
  background-color: #3cb371;
}

.btn:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  right: -60px;
  border-left: 60px solid #222222;
  border-bottom: 40px solid transparent;
  transition: border-left-color 0.3s cubic-bezier(1, .01, .26, 1.9);
}

.container ul {
  position: absolute;
  top: 0px;
  left: 189px;
  list-style: none;
  transition: left 0.3s cubic-bezier(1, .01, .26, 1.9);
}

.sub-button {
  position: relative;
  width: 220px;
  height: 40px;
  padding-left: 10px;
  background-color: #333333;
  color: white;
  line-height: 40px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(1, .01, .26, 1.9);
  display: none;
  margin-bottom: 2px;
}

.sub-button:first-child:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  left: -60px;
  border-right: 60px solid #333333;
  border-top: 40px solid transparent;
  transition: border-right-color 0.3s cubic-bezier(1, .01, .26, 1.9);
}

.sub-button:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  right: 0;
}
.sub-button label{
  display:flex;
  align-items: stretch;
}

.btn-container:first-child:hover > .btn,
.btn-container:nth-child(2):hover > .btn,
.btn-container:nth-child(3):hover > .btn,
.btn-container:nth-child(4):hover > .btn,
.btn-container:nth-child(5):hover > .btn,
.btn-container:last-child:hover > .btn {
  width: 160px;
}

.btn-container:first-child:hover > .btn + .sub-button-container > ul,
.btn-container:nth-child(2):hover > .btn + .sub-button-container > ul,
.btn-container:nth-child(3):hover > .btn + .sub-button-container > ul,
.btn-container:nth-child(4):hover > .btn + .sub-button-container > ul,
.btn-container:nth-child(5):hover > .btn + .sub-button-container > ul,
.btn-container:last-child:hover > .btn + .sub-button-container > ul {
  left: 210px;
}

.btn-container:first-child:hover > .btn + .sub-button-container > ul .sub-button,
.btn-container:nth-child(2):hover > .btn + .sub-button-container > ul .sub-button,
.btn-container:nth-child(3):hover > .btn + .sub-button-container > ul .sub-button,
.btn-container:nth-child(4):hover > .btn + .sub-button-container > ul .sub-button,
.btn-container:nth-child(5):hover > .btn + .sub-button-container > ul .sub-button,
.btn-container:last-child:hover > .btn + .sub-button-container > ul .sub-button{
  display: block;
}

.btn-container:first-child:hover > .btn:after {
  border-left-color: #BE4C39;
}

.btn-container:first-child:hover > .btn + .sub-button-container > ul .sub-button:hover:before {
  border-right-color: #BE4C39;
}

.btn-container:nth-child(2):hover > .btn:after {
  border-left-color: #9351A6;
}

.btn-container:nth-child(2):hover > .btn + .sub-button-container > ul .sub-button:hover:before {
  border-right-color: #9351A6;
}

.btn-container:nth-child(3):hover > .btn:after {
  border-left-color: #E18728;
}

.btn-container:nth-child(3):hover > .btn + .sub-button-container > ul .sub-button:hover:before {
  border-right-color: #E18728;
}

.btn-container:nth-child(4):hover > .btn:after {
  border-left-color: #1e90ff;
}

.btn-container:nth-child(4):hover > .btn + .sub-button-container > ul .sub-button:hover:before {
  border-right-color: #1e90ff;
}

.btn-container:nth-child(5):hover > .btn:after {
  border-left-color: #6a5acd;
}

.btn-container:nth-child(5):hover > .btn + .sub-button-container > ul .sub-button:hover:before {
  border-right-color: #6a5acd;
}

.btn-container:last-child:hover > .btn:after {
  border-left-color: #3cb371;
}

.btn-container:last-child:hover > .btn + .sub-button-container > ul .sub-button:hover:before {
  border-right-color: #3cb371;
}

ul:first-child {
  z-index: 0;
}

ul:nth-child(2) {
  z-index: 1;
}

ul:nth-child(3) {
  z-index: 2;
}
ul:nth-child(4) {
  z-index: 3;
}

ul:nth-child(5) {
  z-index: 4
}

ul:last-child {
  z-index: 5;
}