html,body{ padding: 20px 0px 10px 0px;
overflow: hidden;
}
html,body{ padding: 20px 0px;}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #888888;
  font-family: "Lora", serif;

  background-image: url('icons/bg.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
.workDes > *,
.projectDes > * {
  font-size: 76%;
  padding: 0px 0px 3px 3px;
}
a {
  color: inherit;
  text-decoration: underline rgba(84, 84, 84, 0.8) 0.5px;
}

.resume {
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.top {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
}
.name {
  font-size: 250%;
}
.nameUnderscore {
  width: 350px;
  height: 1px;
  margin: 5px 0px;
  background-color: #5f5e5e;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.about {
  font-size: 100%;
  padding-top: 7px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  align-items: flex-end;
  padding-right: 50px;
  justify-content: center;
  font-size: 120%;
}
.phbox,
.mailbox,
.homebox {
  display: flex;
  align-items: center;
}
.phNo,
.mail,
.home {
  padding: 10px 0px;
}

.HorLine {
  width: 100%;
  height: 2.5mm;
  background-color: #545454;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.bottom {
  width: 100%;
  height: 913px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 25px;
}
.summaryline {
  width: 350px;
  height: 1px;
  background-color: #5f5e5e;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin: 5px 0px 10px 0px;
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summarytitle {
  font-size: 150%;
  letter-spacing: 2px;
}
.summaryContent {
  padding: 0px 20px;
  font-size: 85%;
  text-align: center;
}
.bottomContent {
  display: flex;
  padding: 20px 30px 0px 50px;
}
.bottomleft {
  display: flex;
  width: 41%;
  flex-direction: column;
}
.bottomleft > * {
  margin-bottom: 5px;
}

.education {
  margin-bottom: 5px;
}
.eduTitle,
.expertiseTitle,
.LangTitle,
.InterestTitle,
.stnTitle,
.linkTitle,
.workTitle,
.projectTitle,
.CertificateTitle,
.awardTitle {
  font-size: 130%;
  letter-spacing: 2px;
}
.eduUnderline,
.expertiseUl,
.LangUl,
.IntUl,
.stnUl,
.linkUl,
.workUl,
.projectUl,
.CertificateUl,
.awardUl {
  width: 200px;
  height: 1px;
  background-color: #5f5e5e;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin: 5px 0px 12px 0px;
}
.workUl,
.projectUl,
.CertificateUl,
.awardUl {
  width: 300px;
}
.mepcoTitle,
.gptTitle,
.sclTitle,
.workName,
.projectName,
.CertificateName,
.awardName {
  font-size: 80%;
  font-weight: bold;
  opacity: 90%;
  letter-spacing: 0.5px;
  padding-bottom: 2px;
}
.mepcoContent,
.gptContent,
.sclContent {
  letter-spacing: 0.2px;
  font-size: 70%;
  padding-bottom: 5px;
  line-height: 17px;
}
.companyName,
.projectYear,
.CertificateYear,
.awardYear {
  letter-spacing: 0.2px;
  font-size: 70%;
  padding: 0px 0px 2px 5px;
  line-height: 17px;
}
.expertiseContent,
.LangContent,
.IntContent,
.stnContent,
.linkContent a {
  letter-spacing: 0.2px;
  font-size: 81%;
  font-weight: bold;
  opacity: 75%;
  padding-bottom: 10px;
}
.verticalLine {
  display: flex;
  justify-content: center;
  height: 700px;
  width: 1px;
  margin: 20px 10px 10px 10px;
  background-color: #545454;
}

.bottomright {
  display: flex;
  width: 59%;
  flex-direction: column;
}
.work,
.project,
.certificates {
  margin-bottom: 10px;
}
